#intro_left {
  clear: left;
  float: left;
  width: 250px;
  background: #ffffff url("../../../assets/images/leftintrobg.gif") repeat-x;
  color: #e5eaf2;
  margin: 0 0 1px 0;
}
#intro_left a {
  color: #fff;
}
#intro_left p {
  padding: 14px 15px;
  margin: 0;
}
