<body>
  <div id="main">
    <nav>
      <div id="logo">
        <h1>Java <span class="blue">Artificial Intelligence</span></h1>
      </div>
      <ul id="menu">
        <li class="active"><span class="key">H</span>ome</li>
        <li>
          <a href="#" accesskey="p"><span class="key">S</span>obre</a>
        </li>
        <li>
          <a href="#" accesskey="r"><span class="key">C</span>ontato</a>
        </li>
      </ul>
    </nav>

    <div class="container-content">
      <div class="lateral-menu">
        <app-ai-button-call
          (btnClick)="getNewAiResponse()"
          [nature]="apiResponseImageOrText?.nature"
          [typeOf]="apiResponseImageOrText?.type"
        ></app-ai-button-call>
        <app-ai-status-image
          [nature]="apiResponseImageOrText?.nature"
          [typeOf]="apiResponseImageOrText?.type"
        ></app-ai-status-image>
      </div>
      <div id="intro_right">
        <div class="container container-fluid">
          <div class="ms-3">
            <p *ngIf="apiResponseImageOrText?.author">
              {{ apiResponseImageOrText?.author }}
            </p>
            <p *ngIf="apiResponseImageOrText?.quote">
              {{ apiResponseImageOrText?.quote }}
            </p>
            <p *ngIf="apiResponseImageOrText?.image">
              <img
                [src]="getImage(apiResponseImageOrText?.image!)"
                alt="Image"
                width="580"
              />
            </p>
            <p *ngIf="apiResponseImageOrText?.video">
              <video src="{{ apiResponseImageOrText?.video }}"></video>
            </p>
            <p *ngIf="apiResponseImageOrText?.extras">
              {{ apiResponseImageOrText?.extras }}
            </p>
            <p *ngIf="apiResponseImageOrText?.nature">
              {{ apiResponseImageOrText?.nature }}
            </p>
            <p *ngIf="apiResponseImageOrText?.type">
              {{ apiResponseImageOrText?.type }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-description></app-description>
    <app-footer></app-footer>
  </div>
</body>
