<body>
  <div id="main">
    <div id="logo">
      <h1>Java <span class="blue">Artificial Intelligence</span></h1>
    </div>
    <ul id="menu">
      <li class="active"><span class="key">H</span>ome</li>
      <li>
        <a href="#" accesskey="p"><span class="key">S</span>obre</a>
      </li>
      <li>
        <a href="#" accesskey="r"><span class="key">C</span>ontato</a>
      </li>
    </ul>
    <app-ai-status-image [nature]="apiResponseImageOrText?.nature" [typeOf]="apiResponseImageOrText?.type" ></app-ai-status-image>
    <div id="intro_right" class="container container-fluid align-items-center">
      <button (click)="getNewAiResponse()">GET DATA</button>
      <div class="container container-fluid">
        <div class="ms-3">
          <p *ngIf="apiResponseImageOrText?.author">
            {{ apiResponseImageOrText?.author }}
          </p>
          <p *ngIf="apiResponseImageOrText?.quote">
            {{ apiResponseImageOrText?.quote }}
          </p>
          <p *ngIf="apiResponseImageOrText?.image">
            <img
              [src]="getImage(apiResponseImageOrText?.image!)"
              width="400px"
              height="300px"
              alt="Image"
            />
          </p>
          <p *ngIf="apiResponseImageOrText?.video">
            <video src="{{ apiResponseImageOrText?.author }}"></video>
          </p>
          <p *ngIf="apiResponseImageOrText?.extras">
            {{ apiResponseImageOrText?.extras }}
          </p>
          <p *ngIf="apiResponseImageOrText?.nature">
            {{ apiResponseImageOrText?.nature }}
          </p>
          <p *ngIf="apiResponseImageOrText?.type">
            {{ apiResponseImageOrText?.type }}
          </p>
        </div>
      </div>
    </div>

    <ul id="menu_left">
      <li>
        <a href="#" accesskey="m"
          >AI: A <span class="key">M</span>odern Approach</a
        >
      </li>
      <li>
        <a href="#" accesskey="s"><span class="key">S</span>tuart Russell</a>
      </li>
      <li>
        <a href="#" accesskey="n">Peter <span class="key">N</span>orvig</a>
      </li>
    </ul>
    <div id="right">
      <div class="leftcol">
        <h3>Philosophical Foundations</h3>
        <p>
          <img
            src="assets/images/image.gif"
            alt="Image"
            class="image"
          />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio.
        </p>
      </div>
      <div class="rightcol">
        <h3>Reinforcement Learning</h3>
        <p>
          <img
            src="assets/images/image.gif"
            alt="Image"
            class="image"
          />Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore.
        </p>
        <h3>Statistical Learning Methods</h3>
        <p>
          <img
            src="assets/images/image.gif"
            alt="Image"
            class="image"
          />Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore.
        </p>
      </div>
      <div class="special">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio dignissim qui blandit praesent
          luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
        </p>
      </div>
    </div>
    <footer id="footer">
      <p>
        &copy; Copyright <a href="#">Artificial Intelligence</a> 2006 &middot;
      </p>
    </footer>
  </div>
</body>
