<div id="right">
  <div class="leftcol">
    <h3>About the AI</h3>
    <p>
      The Artificial inteligence is based on the programming language Java and
      it's pet Duke, it runs on data from many diferent pop cultures websites
      and all of it's responses are based on them and is constantly updating.
      Currently there are
      <a href="https://github.com/public-apis/public-apis" target="_blank"
        >30 sites</a
      >
      feeding this API and all rights for the content and the pet are of it's
      creators.
    </p>
  </div>
  <div class="special">
    <h4> What defines an AI?</h4>
    <p>
      Artificial intelligence is the simulation of human
      intelligence processes by machines, especially computer systems. Specific
      applications of AI include expert systems, natural language processing,
      speech recognition and machine vision.
    </p>
  </div>
</div>
